@page
@model WEBCW2.Pages.Users.DetailsModel

@{
	ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
	<h4>User</h4>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.User.ID)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.User.ID)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.User.LastName)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.User.LastName)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.User.FirstName)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.User.FirstName)
		</dd>
		<dt class="col-sm-2">
			<p>Longest time spent reading</p>
		</dt>
		<dd class="col-sm-10">
			@if (Model.LongestTime != null)
			{
				@Html.DisplayFor(model => model.LongestTime)
			}
		</dd>
		<dt class="col-sm-2">
			<p>Total time spent reading</p>
		</dt>
		<dd class="col-sm-10">
			@if (Model.LongestTime != null)
			{
				@Html.DisplayFor(model => model.TotalTime)
			}
		</dd>
		<dt class="col-sm-2">
			<p>Average time spent reading</p>
		</dt>
		<dd class="col-sm-10">
			@if (Model.LongestTime != null)
			{
				@Html.DisplayFor(model => model.AverageTime)
			}
		</dd>
		<p></p>

		<dt class="col-sm-2">
			<p>Comedy Books read</p>
		</dt>
		<dd class="col-sm-10">@Html.DisplayFor(model => model.ComedyCount)</dd>
		<dt class="col-sm-2">
			<p>Tragedy Books read</p>
		</dt>
		<dd class="col-sm-10">@Html.DisplayFor(model => model.TragedyCount)</dd>
		<dt class="col-sm-2">
			<p>Adventure Books read</p>
		</dt>
		<dd class="col-sm-10">@Html.DisplayFor(model => model.AdventureCount)</dd>
		<dt class="col-sm-2">
			<p>Horror Books read</p>
		</dt>
		<dd class="col-sm-10">@Html.DisplayFor(model => model.HorrorCount)</dd>
		<dt class="col-sm-2">
			<p>Fantasy Books read</p>
		</dt>
		<dd class="col-sm-10">@Html.DisplayFor(model => model.FantasyCount)</dd>
		<dt class="col-sm-2">
			<p>SciFi Books read</p>
		</dt>
		<dd class="col-sm-10">@Html.DisplayFor(model => model.SciFiCount)</dd>
		<dt class="col-sm-2">
			<p>Mystery Books read</p>
		</dt>
		<dd class="col-sm-10">@Html.DisplayFor(model => model.MysteryCount)</dd>
		<dt class="col-sm-2">
			<p>Thriller Books read</p>
		</dt>
		<dd class="col-sm-10">@Html.DisplayFor(model => model.ThrillerCount)</dd>
		<dt class="col-sm-2">
			<p>Romance Books read</p>
		</dt>
		<dd class="col-sm-10">@Html.DisplayFor(model => model.RomanceCount)</dd>

		<h3>Books Read</h3>
	</dl>
	@if (Model.Stats.Count != 0)
	{
		<table class="table">
			<tr>
				<td>
					@Html.DisplayNameFor(modelItem => Model.Stats[0].BookID)
				</td>
				<td>
					@Html.DisplayNameFor(modelItem => Model.Stats[0].Book.BookTitle)
				</td>
				<td>
					@Html.DisplayNameFor(modelItem => Model.Stats[0].Book.Author.ID)
				</td>
				<td>
					@Html.DisplayNameFor(modelItem => Model.Stats[0].Book.Author.FirstName)
				</td>
				<td>
					@Html.DisplayNameFor(modelItem => Model.Stats[0].Book.Author.LastName)
				</td>
				<td>
					@Html.DisplayNameFor(modelItem => Model.Stats[0].StartDate)
				</td>
				<td>
					@Html.DisplayNameFor(modelItem => Model.Stats[0].EndDate)
				</td>
			</tr>
			@foreach (var item in Model.Stats)
			{

				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.BookID)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Book.BookTitle)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Book.Author.ID)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Book.Author.FirstName)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Book.Author.LastName)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.StartDate)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.EndDate)
					</td>
				</tr>
			}
		</table>

	}
	else
	{
		<dd class="col-sm-10">
			<p>You have read no books</p>
		</dd>
	}
</div>
<div>
	<a asp-page="./Edit" asp-route-id="@Model.User?.ID">Edit</a> |
	<a asp-page="../Stats/Edit" asp-route-id="@Model.User?.ID">Add book</a> |
	<a asp-page="./Index">Back to List</a>
</div>
