@page
@model WEBCW2.Pages.Users.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>User</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<div class="card">
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        User ID
                    </th>
                    <th>
                        Last Name
                    </th>
                    <th>
                        First
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
        @foreach (var item in Model.User) {
                <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ID)
                        </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.ID">Details</a> 
                    </td>
                </tr>
        }
            </tbody>
        </table>
    </div>
</div>
