@page
@model WEBCW2.Pages.Stats.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Stat[0].User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stat[0].Book)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stat[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stat[0].EndDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Stat) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.StatID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.StatID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.StatID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
