@page
@model WEBCW2.Pages.Books.IndexModel
@{
    ViewData["Title"] = "Home page";
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].BookTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].Blurb)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].EndDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.Book)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BookTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Blurb)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="card">
    <div class="card-body">
        <!--SEARCH SORT FILTER-->
        <div class="input-group">
            <input type="text" class="form-control" placeholder="SEARCH" aria-describedby="button-addon4">
            <div class="input-group-append" id="button-addon4">
                <button class="btn btn-outline-secondary" type="button">SORT</button>
                <button class="btn btn-outline-secondary" type="button">FILTER</button>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <!--BOOKS 3 TO A ROW-->
                <div class="row row-cols-1 row-cols-md-3">
                    <!--BOOK 1-->
                    <div class="col mb-4">
                        <div class="card h-100">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">BOOK TITLE</h5>
                                <p class="card-text">This is a short card.</p>
                                <a href="#" class="btn btn-primary">BOOK DETAILS</a>
                            </div>
                        </div>
                    </div>
                    <!--BOOK 2-->
                    <div class="col mb-4">
                        <div class="card h-100">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a short card.</p>
                            </div>
                        </div>
                    </div>
                    <!--BOOK 3-->
                    <div class="col mb-4">
                        <div class="card h-100">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                            </div>
                        </div>
                    </div>
                    <!--BOOK 4-->
                    <div class="col mb-4">
                        <div class="card h-100">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
