@page
@model WEBCW2.Pages.Books.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.BookTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.BookTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Author)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Author)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Genre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Blurb)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Blurb)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Users)
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>Course Title</th>
                    <th>Grade</th>
                </tr>
                @foreach (var item in Model.User)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Username)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Star)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Book?.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
