@page
@model WEBCW2.Pages.Books.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Book Title
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.BookTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Author.ID)

        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Author.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Author.FirstName)

        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Author.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Author.LastName)

        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Author.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Genre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Blurb)

        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Blurb)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.User.FirstName)

        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.User.FirstName)
        </dd>
        <dt class="col-sm-2">
            Cover
        </dt>
        
        <dd class="col-sm-10">
            <img src=@Html.DisplayFor(model => model.Book.Image) class="card-img-top" alt=@Html.DisplayFor(model => model.Book.Image)>
        </dd>
    </dl>
</div>

<div>
    <a asp-page="./Edit" asp-route-id="@Model.Book?.ID" class="btn btn-primary">Edit Book</a>
    <a asp-page="./Delete" asp-route-id="@Model.Book?.ID" class="btn btn-primary">Delete Book</a>
</div>

<div>
    <a asp-page="../Index">Back to Home</a>
</div>
