@page
@model WEBCW2.Pages.Books.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="card">
    <div class ="card-body"> 
        <div class=" row">
            <div class="col-sm-3">
                <!-- Puts Image On Left -->
                <img src=@Html.DisplayFor(model => model.Book.Image) class="card-img-top" alt=@Html.DisplayFor(model => model.Book.Image)>
            </div>
            <div class="col-sm-9">
                <!-- Puts Text Content On Right-->
                <h4>Book Details</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-4">
                        Title:
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Book.BookTitle)
                    </dd>
                    <dt class="col-sm-4">
                        Author ID:
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Book.Author.ID)
                    </dd>
                    <dt class="col-sm-4">
                       Author First Name:
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Author.FirstName)
                    </dd>
                    <dt class="col-sm-4">
                        Author Last Name:
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Author.LastName)
                    </dd>
                    <dt class="col-sm-4">
                        Genre:
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Book.Genre)
                    </dd>
                    <dt class="col-sm-4">
                        Blurb:
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Book.Blurb)
                    </dd>
                    <dt class="col-sm-4">
                       Added By:

                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Book.User.FirstName)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-page="./Edit" asp-route-id="@Model.Book?.ID" class="btn btn-primary">Edit Book</a>
    <a asp-page="./Delete" asp-route-id="@Model.Book?.ID" class="btn btn-primary">Delete Book</a>
</div>

<div>
    <a asp-page="../Index">Back to Home</a>
</div>
