@page
@model WEBCW2.Pages.Books.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<!-- Added Card for Book Details ,  Placed Image To Left & Card Details to Left & Link Card Details To Databse Data -->

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-3">
                <img src="@Html.DisplayFor(model => model.Book.Image)" class="card-img-top" alt="@Html.DisplayFor(model => model.Book.Image)">
            </div>
            <div class="col-sm-9">
                <h4 class="card-title">Book</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Book.BookTitle)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Book.BookTitle)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Book.Author)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Book.Author)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Book.Genre)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Book.Genre)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Book.Blurb)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Book.Blurb)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Book.StartDate)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Book.StartDate)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Book.EndDate)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Book.EndDate)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Book?.ID" class="btn btn-primary">Edit Book</a>
    <a asp-page="./Delete" asp-route-id="@Model.Book?.ID" class="btn btn-primary">Delete Book</a>
</div>

<div>
    <a asp-page="../Index">Back to Home</a>
</div>
